.home{
    background-color: #E7D2FD;
}
.header-title{
    margin-top: 85px;
    font-size: 50px;
    font-weight: 900;
}
.header-descrip{
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img{
    margin: 68px 0;
    width: 92%;
    height: 70%;
}

.home-btn{
    margin-bottom: 30px;
}

@media screen and (max-width:767px){
    .header-title{
        font-size: 35px;
    }
    .img{
        margin: 38px 0;
        width: 92%;
        height: 70%;
    }
}